<!DOCTYPE html>
<html>
<head>
  <title>Architectures</title>
  <%= stylesheet_link_tag    "architectures/application", media: "all" %>
  <%= javascript_include_tag "architectures/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
